
.job_script_element{
    border-bottom: 3px solid black;
    margin: 30px 10%;
}

.job_script_element_cell{
    overflow: hidden;
    border-left: 1px solid black;
    border-right: 1px solid black;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    width: 20%;

}